<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Sigar Target Platform" sequenceNumber="1">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.apache.ant" version="1.9.2.v201404171502"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository"/>
    </location>
  </locations>
</target>
